"*":
  editor:
    fontSize: 28
    invisibles: {}
    fontFamily: "Inconsolata"
    showIndentGuide: true
    scrollPastEnd: true
  "exception-reporting":
    userId: "616f528a-4e1a-c1e1-ea2a-4f622888b047"
  welcome:
    showOnStartup: false
  minimap: {}
  core:
    themes: [
      "atom-dark-ui"
      "solarized-dark-syntax"
    ]
    disabledPackages: [
      "markdown-preview"
    ]
  "meteor-helper":
    settingsPath: "settings.json"
  "tree-view":
    hideVcsIgnoredFiles: true
  "fuzzy-finder": {}
  "markdown-preview-plus": {}
  "travis-ci-status": {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "atom-beautify":
    _analyticsUserId: "732e48a3-4a22-4bdb-8eca-45b9950719b6"
  "atom-fuzzy-grep": {}
".basic.html.text":
  editor:
    autoIndent: false
